# cargo
debug/
target/
**/*.rs.bk
*.pdb
/target

# executables/libraries
*.exe
*.o
*.bin
*.dll
*.lib

# non-code data
*.txt
*.json

# shell scripts
*.sh
*.ps1
*.bat

# mac
*.DS_Store

# env
.env

# keys
*.pem